# ---- OS ----
.DS_Store
Thumbs.db

# ---- Env Files ----
.env
.env.*

# ---- Logs ----
*.log
logs/
prometheus/data/
grafana/data/
loki/data/

# ---- Docker ----
**/.docker-compose.override.yml
**/docker-compose.override.yml

# ---- IDE ----
.idea/
.vscode/
